$main-colour: #293462;
$secondary-colour: #008089;
$text-emphasis-colour: #F7BE15;

html { scroll-behavior: smooth; } 

@mixin easeOut {
    transition: all 0.5s ease-out;
}

@mixin easeOutFast {
    transition: all 0.2s ease-out;
}

// Media Query Mixins
@mixin mediaSm {
    @media screen and (max-width: 570px) {
        @content;
    }
}

@mixin mediaMd {
    @media screen and (max-width: 860px) {
        @content;
    }
}

@mixin mediaLg {
    @media screen and (min-width: 861px) and (max-width: 1350px) {
        @content;
    }
}

@mixin mediaXl {
    @media screen and (min-width: 1351px) {
        @content;
    }
}