// Responsive Layouts
// Widescreens
@include mediaXl {
    .projects {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

// Desktops & Laptops
@include mediaLg {
    header {
        .header-name {
            display: block;
            clear: both;
        }

        .menu-nav {
            clear: both;
            display: block;
        }
    }

    #showcase {
        .banner {
            width: 70%;
            padding-top: 98px;
        }
    }

    .projects {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .project-summary {
            font-size: 16px;
        }
    }

    section.project-page {
        &.project-page-overview {
            padding-top: 98px;
        }

        .project-page-main .project-page-features {
            width: 80%;
            margin: 0 10% 20px 20%;
        }

        video {
            width: 600px;
        }

        video.portrait {
            width: 300px;
        }
        
        video.side-by-side {
            width: 250px;
        }

        img {
            width: 400px;
        }
        
        img.portrait {
            width: 300px;
        }
    }

    footer {
       .footer-copyright .copright-large, .footer-contact p {
            display: none;
        } 
    }
}

// Tablets & Small Laptops
@include mediaMd {
    body {
        font-size: 18px;
    }

    header {
        .header-name {
            width: 100%;
            clear: both;
            text-align: center;
        }

        .menu-nav {
            clear: both;
            display: block;
            text-align: center;

            .nav-text {
                display:none
            }
        }
    }

    #showcase {
        .banner {
            width: 70%;
            padding-top: 98px;
        }
    }

    .projects {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .project-summary {
            font-size: 16px;
        }
    }

    section.project-page {
        table, p {
            font-size: 18px;
        }

        .project-page-main .project-page-features {
            width: 95%;
            margin: 0 10% 20px 10%;
        }

        video {
            width: 400px;
        }

        img {
            width: 400px;
        }
    }

    footer {
        min-height: 40px;

        .footer-copyright .copright-small, .footer-contact p {
             display: none;
        } 
    }
}

// Mobile
@include mediaSm {
    body {
        font-size: 16px;
    }

    .projects {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    section.project-page {
        table, p {
            font-size: 16px;
        }

        .project-page-main .project-page-features {
            width: 100%;
            margin: 0 0% 20px 5%;
        }

        video, video.portrait, img, img.portrait {
            width: 90%;
        }
    }

    footer {
        .footer-copyright .copright-small, .footer-contact p {
             display: none;
        } 
    }
}

video {
    display: block;
    width: 800px;
    height: auto;
    margin: 20px auto;
    border: 3px solid #fff;
    border-radius: 20px;
}