
section {
    &.project-page-overview {
        padding-top: 58px;
    }

    .project-page-main {
        width: 100%;
        margin: 0;

        .project-page-title {
            margin-bottom: 20px;
            font-weight: 400px;
            padding: 10px;
            color: $text-emphasis-colour;
            background: lighten($main-colour, 2.5);
            border-radius: 10px;
            text-align: center;
            font-size: 40px;
        }

        .project-page-features {
            width: 60%;
            margin: 0 25% 20px 35%;
            text-align: left;

            a {
                color: $text-emphasis-colour;
                text-decoration: none;
                font-style: italic;
            }

            a:hover {
                font-weight: bold;
            }
        }
    }

    .project-page-description {
        width: 80%;
        margin: auto;
    }

    .project-page-media {
        video {
            display: block;
            max-width: 90%;
            height: auto;
            margin: 20px auto;
            padding: 0;
            border: 3px solid #fff;
            border-radius: 20px;
        }

        video.portrait {
            max-width: 90%;
        }

        video.side-by-side {
            display: inline-block;
            margin: 10px 20px;
        }

        img {
            width: 40%;
            margin: 10px 15px;
            border: 3px solid #fff;
            border-radius: 20px;
        }

        img.portrait {
            max-width: 90%;
        }
    }

    .project-page-media-comment {
        width: 80%;
        margin: 20px auto;
    }
}