---
layout: page
title: Blog
---

{% for category in site.categories reversed %}
  <a id="{{category[0]]}}" class="anchor"></a>
  <h2 class="page-heading">{{category[0]}}</h2>

  <ul class="post-list">
  {% for post in site.posts %}
    {% if post.categories contains category[0] %}
    <li class="post-item">
      <h2><a class="post-link" href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a><span class="post-category">{{ post.date | date: "%b %-d, %Y" }}</span></h2>
      
    </li>
    {% endif %}
  {% endfor %}
  </ul>
{% endfor %}