---
layout: page
title: Projects
---

<div class="games">
  <ul class="games-list">
    {% for game in site.games reversed %}
      {% if game.publish == true %}
        <li class="games-container">
          <img src="{{site.baseurl}}/assets/{{game.icon}}" class="games-image">
          <a class="games-link" href="{{site.baseurl}}{{ game.url }}">
            <div class="games-overlay">
              <h2 class="games-heading">{{game.title}}</h2>
            </div>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>