/* npm run sass*/
html {
  scroll-behavior: smooth; }

section.project-page-overview {
  padding-top: 58px; }

section .project-page-main {
  width: 100%;
  margin: 0; }
  section .project-page-main .project-page-title {
    margin-bottom: 20px;
    font-weight: 400px;
    padding: 10px;
    color: #F7BE15;
    background: #2d396b;
    border-radius: 10px;
    text-align: center;
    font-size: 40px; }
  section .project-page-main .project-page-features {
    width: 60%;
    margin: 0 25% 20px 35%;
    text-align: left; }
    section .project-page-main .project-page-features a {
      color: #F7BE15;
      text-decoration: none;
      font-style: italic; }
    section .project-page-main .project-page-features a:hover {
      font-weight: bold; }

section .project-page-description {
  width: 80%;
  margin: auto; }

section .project-page-media video {
  display: block;
  width: 800px;
  height: auto;
  margin: 20px auto;
  padding: 0;
  border: 3px solid #fff;
  border-radius: 20px; }

section .project-page-media video.portrait {
  width: 400px; }

section .project-page-media video.side-by-side {
  display: inline-block;
  margin: 10px 20px; }

section .project-page-media img {
  width: 450px;
  margin: 10px 15px;
  border: 3px solid #fff;
  border-radius: 20px; }

section .project-page-media img.portrait {
  width: 400px; }

section .project-page-media-comment {
  width: 80%;
  margin: 20px auto; }

@media screen and (min-width: 1351px) {
  .projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr); } }

@media screen and (min-width: 861px) and (max-width: 1350px) {
  header .header-name {
    display: block;
    clear: both; }
  header .menu-nav {
    clear: both;
    display: block; }
  #showcase .banner {
    width: 70%;
    padding-top: 98px; }
  .projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
    .projects .project-summary {
      font-size: 16px; }
  section.project-page.project-page-overview {
    padding-top: 98px; }
  section.project-page .project-page-main .project-page-features {
    width: 80%;
    margin: 0 10% 20px 20%; }
  section.project-page video {
    width: 600px; }
  section.project-page video.portrait {
    width: 300px; }
  section.project-page video.side-by-side {
    width: 250px; }
  section.project-page img {
    width: 400px; }
  section.project-page img.portrait {
    width: 300px; }
  footer .footer-copyright .copright-large, footer .footer-contact p {
    display: none; } }

@media screen and (max-width: 860px) {
  body {
    font-size: 18px; }
  header .header-name {
    width: 100%;
    clear: both;
    text-align: center; }
  header .menu-nav {
    clear: both;
    display: block;
    text-align: center; }
    header .menu-nav .nav-text {
      display: none; }
  #showcase .banner {
    width: 70%;
    padding-top: 98px; }
  .projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
    .projects .project-summary {
      font-size: 16px; }
  section.project-page table, section.project-page p {
    font-size: 18px; }
  section.project-page .project-page-main .project-page-features {
    width: 95%;
    margin: 0 10% 20px 10%; }
  section.project-page video {
    width: 400px; }
  section.project-page img {
    width: 400px; }
  footer {
    min-height: 40px; }
    footer .footer-copyright .copright-small, footer .footer-contact p {
      display: none; } }

@media screen and (max-width: 570px) {
  body {
    font-size: 16px; }
  .projects {
    display: grid;
    grid-template-columns: repeat(1, 1fr); }
  section.project-page table, section.project-page p {
    font-size: 16px; }
  section.project-page .project-page-main .project-page-features {
    width: 100%;
    margin: 0 0% 20px 5%; }
  section.project-page video, section.project-page video.portrait, section.project-page img, section.project-page img.portrait {
    width: 90%; }
  footer .footer-copyright .copright-small, footer .footer-contact p {
    display: none; } }

section .policy-section-title {
  margin-bottom: 20px;
  font-weight: 100px;
  padding: 10px;
  color: #F7BE15;
  background: #2d396b;
  border-radius: 10px;
  text-align: center;
  font-size: 40px; }

section li.policy-reasons {
  padding: 0 0 6px 0; }

section ul {
  list-style: none;
  padding: 0 0 20px 6px; }

section a {
  color: #F7BE15;
  text-decoration: none;
  font-style: italic; }

section a:hover {
  font-weight: bold; }

section .project-page-description {
  width: 80%;
  margin: auto; }

section .project-page-media video {
  display: block;
  width: 800px;
  height: auto;
  margin: 20px auto;
  padding: 0;
  border: 3px solid #fff;
  border-radius: 20px; }

section .project-page-media video.portrait {
  width: 400px; }

section .project-page-media video.side-by-side {
  display: inline-block;
  margin: 10px 20px; }

section .project-page-media img {
  width: 450px;
  margin: 10px 15px;
  border: 3px solid #fff;
  border-radius: 20px; }

section .project-page-media img.portrait {
  width: 400px; }

section .project-page-media-comment {
  width: 80%;
  margin: 20px auto; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.container {
  margin: 20px auto;
  width: 80%;
  background: #293462;
  padding: 20px 0; }
  .container p {
    margin-bottom: 15px; }

a {
  color: #fff;
  text-decoration: none; }

body {
  background: #293462;
  color: #fff;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px; }

header {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  background: #26305b;
  padding: 10px 0;
  margin: 0; }
  header .header-name {
    font-weight: 400px;
    font-size: 30px;
    padding: 0 20px;
    float: left;
    color: #F7BE15;
    text-decoration: none; }
  header .nav-item {
    list-style: none;
    display: inline-block;
    padding: 6px 15px;
    text-transform: uppercase;
    letter-spacing: 0.05px; }
    header .nav-item.cv .CV-extra {
      color: #26305b; }
  header .nav-item:hover, header .nav-item:hover a {
    color: #F7BE15;
    transition: all 0.5s ease-out; }
    header .nav-item:hover.cv .CV-extra, header .nav-item:hover a.cv .CV-extra {
      transition: all 0.5s ease-out;
      color: #F7BE15; }

#showcase {
  width: 100%;
  background: #000; }
  #showcase .banner {
    width: 55%;
    display: block;
    margin: auto;
    padding-top: 58px;
    border: none; }

section {
  display: block;
  text-align: center;
  margin: 0;
  padding: 0; }
  section .section-title {
    font-weight: 400px;
    padding: 10px;
    margin-bottom: 20px;
    color: #F7BE15;
    background: #2d396b;
    text-align: center;
    font-size: 40px; }
  section#student-projects, section#personal-projects {
    min-height: 700px; }

.projects {
  display: grid;
  grid-gap: 20px;
  grid-column: auto; }
  .projects .project-top {
    min-height: 210px;
    margin: auto; }
  .projects .project-title {
    color: #F7BE15;
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px; }
  .projects .project-link {
    margin: auto; }
  .projects .project-link img {
    display: block;
    width: 180px;
    margin: auto;
    border: 3px solid #fff;
    border-radius: 20px; }
  .projects .project-link img:hover {
    position: relative;
    top: -2%;
    border: 4px solid #F7BE15;
    width: 185px;
    transition: all 0.2s ease-out; }
  .projects .project-tags {
    min-height: 40px;
    text-align: center; }
  .projects .project-tags ul {
    list-style-type: none;
    font-size: 16px;
    margin: 10px; }
  .projects .project-tag {
    display: inline-block;
    padding: 3px 8px;
    margin: 3px 0;
    border-radius: 5px;
    background: #212a50; }
  .projects .project-summary {
    padding: 5px 15px;
    text-align: center; }

footer {
  width: 100%;
  background: #26305b;
  min-height: 50px;
  bottom: 0; }
  footer .footer-contact {
    width: 50%;
    float: left;
    text-align: left;
    margin: 0; }
    footer .footer-contact i {
      float: left;
      text-align: center;
      padding: 5px 5px; }
    footer .footer-contact p {
      padding: 10px 80px; }
  footer .footer-copyright {
    width: 50%;
    float: right;
    text-align: right;
    padding: 10px 30px; }
  footer .footer-link:hover {
    color: #F7BE15;
    transition: all 0.5s ease-out; }
